<!doctype html>
<html lang="en">
  {{> head }}

  <body>
    {{> navigation }}

    <main>
    <h1>{{ title }}</h1>
      {{{ contents }}}

      <ul>
        {{#each blog }}
          <li><a href="{{ path }}">{{ title }}</a></li>
        {{/each }}
      <ul/>
    </main>
  </body>
</html>
<!doctype html>
