<!doctype html>
<html lang="en">
  {{> head }}

  <body>
    {{> navigation }}

    <main>
    <h1>{{ title }}</h1>
    <small> last updated {{ published_on }} </small>
    {{{ contents }}}
    </main>
  </body>
</html>
<!doctype html>
